name: GLuaTest Runner

on:
  pull_request:
    paths:
      - lua/**
      - .github/workflows/run_tests.yml
  push:
    branches:
      - main
    paths:
      - lua/**
      - .github/workflow/run_tests.yml
  workflow_dispatch:

jobs:
  run_tests:
    strategy:
      matrix:
        branch:
          - "public"
          - "x86-64"
          - "prerelease"
          - "dev"
      fail-fast: false

    uses: CFC-Servers/GLuaTest/.github/workflows/run_tests.yml@main
    with:
      collection: 3460542547
      map: gm_glua_tests
      branch: ${{ matrix.branch }}
      extra-startup-args: "-maxplayers 64 -allowlocalhttp"
      additional-setup: |
        wget -q https://github.com/RaphaelIT7/gmod-holytest/releases/latest/download/linux64.tar.gz -O gluatest/docker/_gluatest_artifacts/linux64.tar.gz

        # Start the testing server for the HTTP tests
        sudo apt-get install -y python3-flask
        ./project/lua/tests/gmod/unit/globals/HTTP.py 1>/dev/null 2>&1 &
        until curl --silent "http://127.0.0.1:5000" 1>/dev/null 2>&1; do sleep 1; done
