name: GLuaTest Runner

on:
  pull_request:
    paths:
      - lua/**
      - .github/workflows/run_tests.yml
  push:
    branches:
      - main
    paths:
      - lua/**
      - .github/workflow/run_tests.yml
  workflow_dispatch:

jobs:
  run_tests:
    strategy:
      matrix:
        branch:
          - "public"
          - "x86-64"
          - "prerelease"
          - "dev"
          - "network_test"
      fail-fast: false

    uses: CFC-Servers/GLuaTest/.github/workflows/run_tests.yml@main
    with:
      map: gm_glua_tests
      branch: ${{ matrix.branch }}
      extra-startup-args: "-maxplayers 64"
      additional-setup: "cd project/.github/tools/ && chmod +x workshop_map.sh && ./workshop_map.sh"